

<div ><div class="container d-flex justify-content-center align-items-center" style="top: 10px;"  >
   
    <div class="maincontainer">

        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6mm col-sm-12">
<div  class="form-membership text-center" style="max-width: 4000px ; ">
    <div class="form-wrapper">
<div class="form-membership">

    
    <div class="form-wrapper">
    
        <h3 style="color: rgb(20, 176, 182); position: center; text-align: center; font-family: 'Lobster', cursive;" >   S'inscrire</h3>
    <hr>
        <!-- form -->
        <form action="" >
            <div class="form-group">
                <input type="text" class="form-control" placeholder="email" required autofocus name="email" [(ngModel)]="email">
            </div>
            <div class="form-group">
                <input type="mdp" class="form-control" placeholder="mot de passe" name="mdp" required [(ngModel)]="mdp" >
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="nom" required name="nom" [(ngModel)]="nom" >
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="prenom" required name="prenom" [(ngModel)]="prenom" >
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="CIN" required name="cin" [(ngModel)]="cin"  pattern=".{8,}" #n="ngModel">
                <p class="text-danger mt-1" *ngIf="(n.invalid && n.touched)">ajouter 8 chiffres!!</p>
            </div>
            <div class="form-group">
                <input type="date" class="form-control" placeholder="dn" required name="dn" [(ngModel)]="dateDeNaissance" >
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="ln" required name="ln" [(ngModel)]="lieuDeNaissance" >
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Adresse" required name="Adresse" [(ngModel)]="adresse" >
            </div>

            <button class="btn btn-info btn-block" (click)="signup()" >s'inscrire</button>
            <hr>
            <p class="text-muted">Vous avez déjà un compte?</p>
            <a routerLink="/login" class="btn btn-outline-info btn-sm">se connecter!</a>
        </form>
        <!-- ./ form -->
    
    
    </div>
    
  
</div>
    </div></div></div></div></div></div>
    </div>
</div></div>
<button class="btn btn-info btn-sm float-right mt-2 mr-2" routerLink='/'>Acceuil</button>
